<div class="container">
  <div
    *ngIf="pokemon"
    class="row animate__animated animate__bounce animate__fadeIn"
  >
    <div class="col-md-9">
      <h2>{{ pokemon.name }}</h2>

      <img
        style="width: 40%; height: 40%"
        src="{{ pokemon.sprites.front_default }}"
        alt="{{ pokemon.name }}"
      />
    </div>
    <div class="col-md-3">
      <a class="btn btn-danger" routerLink="/">Back</a>
    </div>
  </div>

  <div *ngIf="pokemon" class="details-section">
    <button mat-raised-button color="primary" (click)="moreDetails()">
      {{ details ? "Hide Details" : "Show All Details" }}
    </button>

    <!-- Expansion Panel de Angular Material -->
    <mat-accordion *ngIf="details">
      <p><strong>ID:</strong> {{ pokemon.id }}</p>
      <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
      <p><strong>Base Experience:</strong> {{ pokemon.base_experience }}</p>
      <p><strong>Order:</strong> {{ pokemon.order }}</p>
    </mat-accordion>
  </div>
</div>
