<div class="container">
  <h1>Pokemons</h1>
  <div class="view-buttons">
    <button mat-raised-button color="primary" (click)="setView('cards')">
      Cards
    </button>
    <button mat-raised-button color="accent" (click)="setView('table')">
      Table
    </button>
  </div>

  <div *ngIf="view === 'cards'" class="cards-container">
    <app-card
      *ngFor="let pokemon of pokemons"
      [name]="pokemon.name"
      [link]="'/pokemon/' + pokemon.name"
    ></app-card>
  </div>

  <div *ngIf="view === 'table'" class="table-container">
    <app-grid
      [data]="pokemons"
      (rowClick)="navigateToDetail($event)"
    ></app-grid>
  </div>
</div>
